<h2>{{ site.theme_config.home.title_projects }}</h2>
<div class="section-list">
  {% for item in site.sections %}

    <div class="card">
      <a href="{{ item.url }}">
        <h3 class="header">
          {{ item.title }}

          {% if item.highlight %}
            <mark>{{ item.highlight }}</mark>
          {% endif %}

        </h3>

        {% if item.desc != false %}
        <p class="body">
          {{ item.desc }}
        </p>
        {% endif %}
      </a>
    </div>

  {% endfor %}
</div>
